<!-- partial:../../partials/_navbar.html -->
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <a class="navbar-brand brand-logo" href="../../index.html">
            <img src="../../assets/images/logo.svg" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="../../index.html">
            <img src="../../assets/images/logo-mini.svg" alt="logo" />
        </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
        </button>
        <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <i class="input-group-text border-0 mdi mdi-magnify"></i>
                    </div>
                    <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
                </div>
            </form>
        </div>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <div class="nav-profile-img">
                        <img src="../../assets/images/faces/face1.jpg" alt="image">
                        <span class="availability-status online"></span>
                    </div>
                    <div class="nav-profile-text">
                        @if (Context.Session.GetString("UserName") != null)
                        {
                            <p class="mb-1 text-black">@Context.Session.GetString("UserName")</p>
                        }
                        else
                        {
                            <p class="mb-1 text-black">Fallback Name</p> <!-- Nếu không có session, hiển thị tên mặc định -->
                        }
                    </div>
                </a>
                <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="mdi mdi-cached me-2 text-success"></i> Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Account/Logout">
                        <i class="mdi mdi-logout me-2 text-primary"></i> Signout
                    </a>

                </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
                <a class="nav-link">
                    <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" id="messageDropdown" href="/Chat" aria-expanded="false">
                    <i class="mdi mdi-facebook-messenger"></i>
                    <span class="count-symbol bg-warning"></span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                    data-bs-toggle="dropdown">
                    <i class="mdi mdi-bell-outline"></i>
                    <span class="count-symbol bg-danger"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list"
                    aria-labelledby="notificationDropdown">
                    <h6 class="p-3 mb-0">Notifications</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-success">
                                <i class="mdi mdi-calendar"></i>
                            </div>
                        </div>
                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                            <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                            <p class="text-gray ellipsis mb-0">
                                Just a reminder that you have an event today
                            </p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-warning">
                                <i class="mdi mdi-cog"></i>
                            </div>
                        </div>
                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                            <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                            <p class="text-gray ellipsis mb-0"> Update dashboard </p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-info">
                                <i class="mdi mdi-link-variant"></i>
                            </div>
                        </div>
                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                            <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
                            <p class="text-gray ellipsis mb-0"> New admin wow! </p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <h6 class="p-3 mb-0 text-center">See all notifications</h6>
                </div>
            </li>
            <li class="nav-item nav-logout d-none d-lg-block">
                <a class="nav-link" href="#">
                    <i class="mdi mdi-power"></i>
                </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#">
                    <i class="mdi mdi-format-line-spacing"></i>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_settings-panel.html -->
    <div class="right-sidebar-toggler-wrapper">
        <div class="sidebar-toggler" id="settings-trigger"><i class="mdi mdi-palette"></i></div>
        <div class="sidebar-toggler" id="chat-toggler"><i class="mdi mdi-chat-processing"></i></div>
        <div class="sidebar-toggler">
            <a href="https://www.bootstrapdash.com/demo/majestic-admin-pro/docs/documentation.html" target="_blank"><i
                    class="mdi mdi-file-document-outline"></i></a>
        </div>
        <div class="sidebar-toggler">
            <a href="https://www.bootstrapdash.com/product/majestic-admin-pro/" target="_blank"><i
                    class="mdi mdi-cart"></i></a>
        </div>
    </div>
    <div class="theme-setting-wrapper">
        <div id="theme-settings" class="settings-panel">
            <i class="settings-close mdi mdi-close"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                <div class="img-ss rounded-circle bg-light border me-3"></div>Light
            </div>
            <div class="sidebar-bg-options" id="sidebar-dark-theme">
                <div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
                <div class="tiles success"></div>
                <div class="tiles warning"></div>
                <div class="tiles danger"></div>
                <div class="tiles info"></div>
                <div class="tiles dark"></div>
                <div class="tiles default"></div>
            </div>
        </div>
        <div id="layout-settings" class="settings-panel">
            <i class="settings-close mdi mdi-close"></i>
            <div class="d-flex align-items-center justify-content-between border-bottom">
                <p class="settings-heading font-weight-bold border-top-0 mb-3 ps-3 pt-0 border-bottom-0 pb-0">
                    Template Demos
                </p>
            </div>
            <div class="demo-screen-wrapper">
                <a href="https://demo.bootstrapdash.com/purple/jquery/template/demo_1/" target="_blank"
                    class="demo-thumb-image" id="theme-light-switch">
                    <img src="../../assets/images/screenshots/vertical-light.jpg" alt="demo image">
                </a>
                <a href="https://demo.bootstrapdash.com/purple/jquery/template/demo_2/" target="_blank"
                    class="demo-thumb-image">
                    <img src="../../assets/images/screenshots/vertical-dark.jpg" alt="demo image">
                </a>
                <a href="https://demo.bootstrapdash.com/purple/jquery/template/demo_3/" target="_blank"
                    class="demo-thumb-image" id="theme-dark-switch">
                    <img src="../../assets/images/screenshots/horizontal-light.jpg" alt="demo image">
                </a>
                <a href="https://demo.bootstrapdash.com/purple/jquery/template/demo_4/" target="_blank"
                    class="demo-thumb-image">
                    <img src="../../assets/images/screenshots/horizontal-dark.jpg" alt="demo image">
                </a>
            </div>
        </div>
    </div>
    <div id="right-sidebar" class="settings-panel">
        <i class="settings-close mdi mdi-close"></i>
        <ul class="nav nav-tabs" id="setting-panel" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="todo-tab" data-bs-toggle="tab" href="#todo-section" role="tab"
                    aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats-section" role="tab"
                    aria-controls="chats-section">CHATS</a>
            </li>
        </ul>
        <div class="tab-content" id="setting-content">
            <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
                aria-labelledby="todo-section">
                <div class="add-items d-flex px-3 mb-0">
                    <form class="form w-100">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                            <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">
                                Add
                            </button>
                        </div>
                    </form>
                </div>
                <div class="list-wrapper px-3">
                    <ul class="d-flex flex-column-reverse todo-list">
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Team review meeting at 3.00 PM
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Prepare for presentation
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox"> Resolve all the low priority
                                    tickets due today
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li class="completed">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox" checked> Schedule meeting for next
                                    week
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li class="completed">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox" checked> Project review
                                </label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                    </ul>
                </div>
                <div class="events py-4 border-bottom px-3">
                    <div class="wrapper d-flex mb-2">
                        <i class="mdi mdi-circle-outline text-primary me-2"></i>
                        <span>Feb 11 2018</span>
                    </div>
                    <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
                    <p class="text-gray mb-0">build a js based app</p>
                </div>
                <div class="events pt-4 px-3">
                    <div class="wrapper d-flex mb-2">
                        <i class="mdi mdi-circle-outline text-primary me-2"></i>
                        <span>Feb 7 2018</span>
                    </div>
                    <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
                    <p class="text-gray mb-0 ">Call Sarah Graves</p>
                </div>
            </div>
            <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
                <div class="d-flex align-items-center justify-content-between border-bottom">
                    <p class="settings-heading border-top-0 mb-3 ps-3 pt-0 border-bottom-0 pb-0">Friends</p>
                    <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pe-3 font-weight-normal">
                        See
                        All
                    </small>
                </div>
                <ul class="chat-list">
                    <li class="list active">
                        <div class="profile">
                            <img src="../../assets/images/faces/face1.jpg" alt="image"><span class="online"></span>
                        </div>
                        <div class="info">
                            <p>Thomas Douglas</p>
                            <p>Available</p>
                        </div>
                        <small class="text-muted my-auto">19 min</small>
                    </li>
                    <li class="list">
                        <div class="profile">
                            <img src="../../assets/images/faces/face2.jpg" alt="image"><span class="offline"></span>
                        </div>
                        <div class="info">
                            <div class="wrapper d-flex">
                                <p>Catherine</p>
                            </div>
                            <p>Away</p>
                        </div>
                        <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                        <small class="text-muted my-auto">23 min</small>
                    </li>
                    <li class="list">
                        <div class="profile">
                            <img src="../../assets/images/faces/face3.jpg" alt="image"><span class="online"></span>
                        </div>
                        <div class="info">
                            <p>Daniel Russell</p>
                            <p>Available</p>
                        </div>
                        <small class="text-muted my-auto">14 min</small>
                    </li>
                    <li class="list">
                        <div class="profile">
                            <img src="../../assets/images/faces/face4.jpg" alt="image"><span class="offline"></span>
                        </div>
                        <div class="info">
                            <p>James Richardson</p>
                            <p>Away</p>
                        </div>
                        <small class="text-muted my-auto">2 min</small>
                    </li>
                    <li class="list">
                        <div class="profile">
                            <img src="../../assets/images/faces/face5.jpg" alt="image"><span class="online"></span>
                        </div>
                        <div class="info">
                            <p>Madeline Kennedy</p>
                            <p>Available</p>
                        </div>
                        <small class="text-muted my-auto">5 min</small>
                    </li>
                    <li class="list">
                        <div class="profile">
                            <img src="../../assets/images/faces/face6.jpg" alt="image"><span class="online"></span>
                        </div>
                        <div class="info">
                            <p>Sarah Graves</p>
                            <p>Available</p>
                        </div>
                        <small class="text-muted my-auto">47 min</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile">
                <a href="#" class="nav-link">
                    <div class="nav-profile-image">
                        <img src="../../assets/images/faces/face1.jpg" alt="profile">
                        <span class="login-status online"></span>
                    </div>
                    <div class="nav-profile-text d-flex flex-column">
                        @if (Context.Session.GetString("UserName") != null)
                        {
                            <span class="font-weight-bold mb-2">@Context.Session.GetString("UserName")</span>
                            <span class="text-secondary text-small">@Context.Session.GetString("UserRole")</span>
                        }
                        else
                        {
                            <span class="font-weight-bold mb-2">Fallback Name</span>
                            <span class="text-secondary text-small">Fallback Role</span>
                        }
                    </div>
                    <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Dashboard" href="/Dashboard">
                    <span class="menu-title">Dashboard</span>
                    <i class="mdi mdi-home menu-icon"></i>
                </a>
            </li>
            @if (Context.Session.GetString("Role") == "Admin")
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-toggle="collapse" href="#products" aria-expanded="false"
                    aria-controls="products">
                        <span class="menu-title">Products</span>
                        <i class="menu-arrow"></i>
                        <i class="fa fa-reorder menu-icon"></i>
                    </a>
                    <div class="collapse" id="products">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/Products/ProductsViewList" id="ProductsViewList">View List
                                    Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Products/ProductsCreate" id="ProductsCreate">Add Product</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-toggle="collapse" href="#brands-menu" aria-expanded="false"
                    aria-controls="brands-menu">
                    <span class="menu-title">Brands</span>
                    <i class="menu-arrow"></i>
                    <i class="fa fa-reorder menu-icon"></i>
                </a>
                <div class="collapse" id="brands-menu">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/Brands/BrandsViewList" id="BrandsViewList">View List Brands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Brands/BrandsCreate" id="BrandsCreate">Add Brands</a>
                        </li>
                    </ul>
                </div>
               
            </li>
            }
            <!-- Order -->
            <li class="nav-item">

                <a class="nav-link collapsed" data-bs-toggle="collapse" href="#orders-menu" aria-expanded="false"
                   aria-controls="orders-menu">
                    <span class="menu-title">Orders</span>
                    <i class="menu-arrow"></i>
                    <i class="fa fa-reorder menu-icon"></i>
                </a>
                <div class="collapse" id="orders-menu">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/Orders/OrdersViewList" id="OrdersViewList">View List Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Orders/OrdersCreate" id="OrdersCreate">Add Order</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">

                <a class="nav-link collapsed" data-bs-toggle="collapse" href="#chats-menu" aria-expanded="false"
                   aria-controls="chats-menu">
                    <span class="menu-title">Chat</span>
                    <i class="menu-arrow"></i>
                    <i class="fa fa-reorder menu-icon"></i>
                </a>
                <div class="collapse" id="chats-menu">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/Chat" id="OrdersViewList">Chat With Admin</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
